@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

input,
textarea {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

nav {
  @apply space-x-3;
  a {
    @apply font-bold underline;
  }
}

header {
  @apply container px-20 py-5;
}

main {
  @apply container p-20;
}

h1 {
  @apply font-bold text-2xl mb-10;
}

/* * {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
*/
